#bg-image {
  background-image: url(assets/fondo-personajes.jpg);
  background-size: cover;
  height: 600px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 600px;
}

.ul-nav {
  list-style-type: none;
  overflow: hidden;
  text-align: left;
}

.li-nav {
  float: left;
}

.li-nav-navlink {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.bg-rojomarvel {
  background-color: #ED1C24;
}

.third {
  border-color: #b90000;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #b90000 inset, 0 0 10px 4px #b90000;
}

.bg-negro {
  background-color: black;
}

.border-foot {
  border-top: 1px solid white;
}

.bg-facebook {
  background-color: #3b5998
}

.bg-twitter {
  background-color: #55acee
}

.bg-google {
  background-color: #dd4b39
}

.bg-instagram {
  background-color: #ac2bac
}

.bg-linkedin {
  background-color: #0082ca
}

.bg-github {
  background-color: #333333
}

.btn-circle.btn-foot {
  width: 45px;
  height: 45px;
  padding: 6px 0px;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
}

.scroll {
  width: 100%;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
}